body {
  font-family: 'Google Sans', sans-serif;
  background-color: #121212;
  color: white;
}
#profile {
  position: absolute;
  top: 40px;
  right: 40px;
}
#font {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}
